
body{
    display: block;
    background: hsl(217, 54%, 11%);
}

.img {
    display: block;
    margin: 0, auto;
    max-width: 100%;
    border-radius: 10px;
}

.img:hover{
    color: hsl(178, 100%, 50%);
   
    mask-position: center;
    cursor:pointer;
}



.wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 300px;
    
}

.creator {

    display: flex;
    align-items: center;
    gap: 1rem;
}


.card{

    background: hsl(216, 50%, 16%);
    margin: 20% auto;
    border-radius: 25px;
    max-width: 300px;
    margin: 0, 0, 46px;
    border: solid, 1px, rgba(0, 0, 0, 0.1);
    padding: 1rem;
    
    
}

h1{
    font-family: Outfit, "sans-serif";
    font-weight: 300, 400, 600;
    color: hsl(0, 0%, 100%);
    font-size: 25px;
}

h1:hover{
    color: hsl(178, 100%, 50%);
    cursor:pointer;

}


.eth{
    color: hsl(178, 100%, 50%);
    font-size: 2vh;
    display: inline-flex;
}

.days{
    color: hsl(215, 51%, 70%);
    font-size: 2vh;
    display: inline-flex;
}


p{

    font-size: 18px;
    font-family: Outfit, "sans-serif";
    font-weight: 300, 400, 600;
    color: hsl(215, 51%, 70%)
}

.hr {
    max-width: 75%;
    color: hsl(215, 32%, 27%);
}

.avatar {
    display:block;
    max-width: 10%;
    border: transparent 1px;
    border: hsl(0, 0%, 100%) solid 1px;
    border-radius: 50%;
}

span{
    color: hsl(0, 0%, 100%)
}

span:hover{
    color: hsl(178, 100%, 50%);
    cursor:pointer;
}


footer { 
    font-size: 11px; text-align: center; 
}

footer a { 
    color: hsl(228, 45%, 44%); 
}
